# Chamber Street Wine Data Collection 
Scraping completed on May 28, 2020<br>
https://www.chambersstwines.com/

In [1]:
import os
import requests
import numpy as np
from bs4 import BeautifulSoup
from pprint import pprint
import pandas as pd
import pickle
import time
import json

## Run each Country 
https://www.chambersstwines.com/ has a rate limit of 2 but even with the limit, it is unable to run all the wines as on continuous list. <br>
This also enables me to easily add an additional column of `country` to each grouping before combining them together. <br>
Chambers Street does not have as much techincal detail as Astor Wines but the descriptions can still provide a good amount of information for a Word2Vec/Doc2Vec implementation of a recommender.

In [69]:
url_AUS = 'https://www.chambersstwines.com/Products/?timestamp=1590681689530&category=2&keyword=Australia%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_AUSTRIA = 'https://www.chambersstwines.com/Products/?timestamp=1590683530451&category=14&keyword=Austria%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_FRANCE = 'https://www.chambersstwines.com/Products/?timestamp=1590683671852&category=49&keyword=France%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_GERMANY = 'https://www.chambersstwines.com/Products/?timestamp=1590683739703&category=36&keyword=Germany%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_ITALY = 'https://www.chambersstwines.com/Products/?timestamp=1590683767075&category=53&keyword=Italy%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_KOSHER = 'https://www.chambersstwines.com/Products/?timestamp=1590683788538&category=19&keyword=Kosher%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_MISC = 'https://www.chambersstwines.com/Products/?timestamp=1590683816835&category=46&keyword=Misc.%20Europe%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_NZ = 'https://www.chambersstwines.com/Products/?timestamp=1590683833911&category=22&keyword=New%20Zealand%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_PORT = 'https://www.chambersstwines.com/Products/?timestamp=1590686874940&category=55&keyword=Portugal%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_SPAIN = 'https://www.chambersstwines.com/Products/?timestamp=1590683870073&category=56&keyword=Spain%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_SAFRICA = 'https://www.chambersstwines.com/Products/?timestamp=1590683886548&category=27&keyword=South%20Africa%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_SAMER = 'https://www.chambersstwines.com/Products/?timestamp=1590683905614&category=28&keyword=South%20America%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'
url_USA = 'https://www.chambersstwines.com/Products/?timestamp=1590683917731&category=57&keyword=United%20States%20&organic=false&biodynamic=false&lowsulfur=false&newArrivals=false&sortBy=Region&page=0'

In [86]:
res = requests.get(url_USA)
soup = BeautifulSoup(res.content, 'lxml')
res

In [87]:
each_listing = soup.find('div', {'id': 'Burner'})
wines = []

# for wine_listing in each_listing.find_all('div', {'data-id': '77810'}):
for wine_listing in each_listing.find_all('div', {'class': 'product-listitem'}):
#     print(wine_listing)
    wine = {}
    
    if wine_listing.find('a', {'class': 'product-title-listitem'}).text:
        wine['name'] = wine_listing.find('a', {'class': 'product-title-listitem'}).text
    else: None
        
    if wine_listing.find_all('li')[1].text:
        wine['color'] = wine_listing.find_all('li')[1].text
    else: None
        
    if wine_listing.find('li', {'class': 'last'}).text:
        wine['price'] = wine_listing.find('li', {'class': 'last'}).text
    else: None
        
    if wine_listing.find('span', {'class': 'product-description-listitem'}).text:
        wine['description'] = wine_listing.find('span', {'class': 'product-description-listitem'}).text
    else: None
        
    wine['url'] = f'https://www.chambersstwines.com'+wine_listing.find('a')['href']
    
    time.sleep(2)
    
    wines.append(wine)

## Save each Country DataFrame
Added `country` as a column to each DataFrame while they are seperate. For Kosher and Misc. Europe, those were added in after researching where each wine was from.<br>
There were 5 null values for the category `color` when all the data was combined. Those were found, researched and replaced with the correct values.

In [215]:
# AUS_df = pd.DataFrame(wines)
# AUS_df['country'] = 'australia'
# AUS_df.to_csv('../data/chambers_street/AUS_df.csv')
AUS_df.isnull().sum()

name           0
color          0
price          0
description    0
url            0
country        0
dtype: int64

In [219]:
# AUSTRIA_df = pd.DataFrame(wines)
# AUSTRIA_df['country'] = 'austria'
# AUSTRIA_df.to_csv('../data/chambers_street/AUSTRIA_df.csv')
AUSTRIA_df.isnull().sum()

name           0
color          0
price          0
description    5
url            0
country        0
dtype: int64

In [255]:
# FRANCE_df = pd.DataFrame(wines)
# FRANCE_df['country'] = 'france'
# FRANCE_df.to_csv('../data/chambers_street/FRANCE_df.csv')
# FRANCE_df.loc[142]['color'] = 'white'
# FRANCE_df.loc[268]['color'] = 'white sparkling'
FRANCE_df.isnull().sum()

name             0
color            0
price            0
description    101
url              0
country          0
dtype: int64

In [221]:
# GERMANY_df = pd.DataFrame(wines)
# GERMANY_df['country'] = 'germany'
# GERMANY_df.to_csv('../data/chambers_street/GERMANY_df.csv')
GERMANY_df.isnull().sum()

name           0
color          0
price          0
description    3
url            0
country        0
dtype: int64

In [222]:
# ITALY_df = pd.DataFrame(wines)
# ITALY_df['country'] = 'italy'
# ITALY_df.to_csv('../data/chambers_street/ITALY_df.csv')
# ITALY_df['country'] = 'italy'
ITALY_df.isnull().sum()

name            0
color           0
price           0
description    46
url             0
country         0
dtype: int64

In [223]:
# KOSHER_df = pd.DataFrame(wines)
# KOSHER_df.loc[0]['country'] = 'spain'
# KOSHER_df.loc[1:3]['country'] = 'isreal'
# KOSHER_df.to_csv('../data/chambers_street/KOSHER_df.csv')
KOSHER_df.isnull().sum()

name           0
color          0
price          0
description    0
url            0
country        0
dtype: int64

In [224]:
# MISC_df = pd.DataFrame(wines)
# MISC_df.to_csv('../data/chambers_street/MISC_df.csv')
# MISC_df.loc[0:1]['country'] = 'georgia'
# MISC_df.loc[7]['country'] = 'georgia'
# MISC_df.loc[9]['country'] = 'georgia'
# MISC_df.loc[2:4]['country'] = 'switzerland'
# MISC_df.loc[8]['country'] = 'slovenia'
MISC_df.isnull().sum()

name           0
color          0
price          0
description    5
url            0
country        0
dtype: int64

In [177]:
# NZ_df = pd.DataFrame(wines)
# NZ_df.to_csv('../data/chambers_street/NZ_df.csv')
# NZ_df['country'] = 'new zealand'
NZ_df.head()

,name,color,price,description,url,country
0,Arona 2019 Marlborough Sauvignon Blanc,white,$13.99,Classically zippy and refreshing Sauvignon Bla...,https://www.chambersstwines.com/Products/77644...,new zealand

In [233]:
# PORT_df = pd.DataFrame(wines)
# PORT_df.to_csv('../data/chambers_street/PORT_df.csv')
# PORT_df['country'] = 'portugal'
# PORT_df.loc[6]['color'] = 'red fortified sweet' 
PORT_df.isnull().sum()

name           0
color          0
price          0
description    6
url            0
country        0
dtype: int64

In [234]:
# SPAIN_df = pd.DataFrame(wines)
# SPAIN_df.to_csv('../data/chambers_street/SPAIN_df.csv')
# SPAIN_df['country'] = 'spain'
SPAIN_df.isnull().sum()

name           0
color          0
price          0
url            0
description    4
country        0
dtype: int64

In [235]:
# SAFRICA_df = pd.DataFrame(wines)
# SAFRICA_df.to_csv('../data/chambers_street/SAFRICA_df.csv')
# SAFRICA_df['country'] = 'south africa'
SAFRICA_df.isnull().sum()

name           0
color          0
price          0
description    0
url            0
country        0
dtype: int64

In [236]:
# SAMER_df = pd.DataFrame(wines)
# SAMER_df.to_csv('../data/chambers_street/SAMER_df.csv')
# SAMER_df['country'] = 'chile'
# SAMER_df.loc[0]['country'] = 'argentina'
# SAMER_df.loc[3:4]['country'] = 'argentina'
# SAMER_df.loc[6]['country'] = 'argentina'
# SAMER_df.loc[8]['country'] = 'argentina'
SAMER_df.isnull().sum()

name           0
color          0
price          0
description    0
url            0
country        0
dtype: int64

In [246]:
# USA_df = pd.DataFrame(wines)
# USA_df.to_csv('../data/chambers_street/USA_df.csv')
# USA_df['country'] = 'usa'
# USA_df.loc[15]['color'] = 'red'
# USA_df.loc[59]['color'] = 'white'
USA_df.isnull().sum()

name           0
color          0
price          0
description    3
url            0
country        0
dtype: int64

# Combine all DataFrames into one for Chambers Street

In [256]:
chambers_list = [AUS_df, AUSTRIA_df, FRANCE_df, GERMANY_df, ITALY_df, KOSHER_df, 
                 MISC_df, NZ_df, PORT_df, SAFRICA_df, SAMER_df, SPAIN_df, USA_df]

In [257]:
all_chambers_df = pd.concat(chambers_list)

In [11]:
# all_chambers_df.to_csv('../data/chambers_street/all_chambers_df.csv', index=False)

In [10]:
all_chambers_df.shape

(944, 7)